@charset "utf-8";

#Logo{
	width:100%;
	z-index: 100;
	position: fixed;
	top:0;
	height:45px;
	/*margin:上下 左右*/
	margin:auto;
	border-radius:10px;
	background-color: rgba(156, 156, 156,0.8);
	font-family:"apple-system","BlinkMacSystemFont","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	/*background-color: rgba(84, 89, 93,0.5);*/
	/*box-shadow:1px 1px 33px #fff;/*设计阴影的*/*/
}
#Logo ul li
{
	width:150px;
	 height:45px;
	list-style:none;/*去掉圆点*/
	float:left;/*水平显示*/
	font-size:18px;
	font-family:"微软雅黑";
	text-align:center;
	line-height:45px;/* 行高跟 高度一致时，竖直居中*/
	border-right:1px solid #000;/*右边框*/
}

#Logo ul li a
{
	color:white;
	font-size:18px;
	font-family:"微软雅黑";
	text-decoration:none;
}

#Logo ul li:hover
{
	background:rgba(10,5,5,0.45);
}

#Logo ul li.first:hover
{
	border-radius:10px 0px 0px 10px;/*左上 左下 圆弧显示 */
}

#Logo ul li.last:hover
{
	border-radius:0px 10px 10px 0px;/*右上 右下 圆弧显示 */
}

#Logo ul li ul li 
{
	border:none;
	border-top:1px solid #989898;
	background:rgba(10,5,5,0.45);/*颜色透明度 */
	border-radius:10px;
	
}

#Logo ul li ul
{
	display:none;/*不显示*/
}
#Logo ul li ul li:hover
{
	background:rgba(10,5,5,0.8);/*颜色透明度 */
	border-radius:10px;
}

#Logo ul li:hover ul
{
	display:block;
	-webkit-animation:roll 1s ease;/*roll 旋转名称，1s旋转效果 */
}

@-webkit-keyframes roll /*roll旋转名称与上面一致*/
{
	0% {-webkit-transform:rotate(0deg);}
	100% {-webkit-transform:rotate(360deg);}
}